(
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
F,
G,
Gbreve,
Gcommaaccent,
Gdotaccent,
H,
Hbar,
I,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
J,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
Eng,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
Germandbls,
T,
Tcaron,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Z,
Zacute,
Zcaron,
Zdotaccent,
a,
a.ss03,
a.ss04,
aacute,
aacute.ss03,
aacute.ss04,
abreve,
abreve.ss03,
abreve.ss04,
acircumflex,
acircumflex.ss03,
acircumflex.ss04,
adieresis,
adieresis.ss03,
adieresis.ss04,
agrave,
agrave.ss03,
agrave.ss04,
amacron,
amacron.ss03,
amacron.ss04,
aogonek,
aogonek.ss03,
aogonek.ss04,
aring,
aring.ss03,
aring.ss04,
atilde,
atilde.ss03,
atilde.ss04,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
f,
g,
g.ss03,
g.ss04,
gbreve,
gbreve.ss03,
gbreve.ss04,
gcommaaccent,
gcommaaccent.ss03,
gcommaaccent.ss04,
gdotaccent,
gdotaccent.ss03,
gdotaccent.ss04,
h,
hbar,
i,
idotless,
iacute,
icircumflex,
idieresis,
igrave,
imacron,
iogonek,
j,
jdotless,
k,
kcommaaccent,
l,
l.ss04,
lacute,
lacute.ss04,
lcaron,
lcaron.ss04,
lcommaaccent,
lcommaaccent.ss04,
ldot,
ldot.ss04,
lslash,
lslash.ss04,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
eng,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scommaaccent,
germandbls,
t,
tcaron,
tcommaaccent,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
y.ss04,
yacute,
yacute.ss04,
ycircumflex,
ycircumflex.ss04,
ydieresis,
ydieresis.ss04,
ygrave,
ygrave.ss04,
z,
zacute,
zcaron,
zdotaccent,
fi,
fl,
ordfeminine,
ordmasculine,
"hamza-ar",
"alef-ar",
"alef-ar.fina",
"alef-ar.short",
"alef-ar.short.fina",
"behDotless-ar",
"behDotless-ar.fina",
"behDotless-ar.medi",
"behDotless-ar.medi.high",
"behDotless-ar.init",
"behDotless-ar.init.high",
"hah-ar",
"hah-ar.fina",
"hah-ar.medi",
"hah-ar.init",
"dal-ar",
"dal-ar.fina",
"reh-ar",
"reh-ar.fina",
"seen-ar",
"seen-ar.fina",
"seen-ar.medi",
"seen-ar.init",
"sad-ar",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"ain-ar",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.init",
"fehDotless-ar",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"qafDotless-ar",
"qafDotless-ar.fina",
"kafDotless-ar",
"kafDotless-ar.fina",
"kaf-ar.medi",
"kaf-ar.init",
"keheh-ar",
"keheh-ar.fina",
"kafswash-ar",
"kafswash-ar.fina",
"kafswash-ar.medi",
"kafswash-ar.init",
"lam-ar",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.init",
"meem-ar",
"meem-ar.ss01",
"meem-ar.fina",
"meem-ar.fina.ss01",
"meem-ar.medi",
"meem-ar.init",
"noonghunna-ar",
"noonghunna-ar.fina",
"heh-ar",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.init",
"hehgoal-ar",
"hehgoal-ar.fina",
"hehgoal-ar.medi",
"ae-ar",
"hehDoachashmee-ar",
"hehDoachashmee-ar.fina",
"hehDoachashmee-ar.medi",
"waw-ar",
"waw-ar.fina",
"alefMaksura-ar",
"alefMaksura-ar.fina",
"yehbarree-ar",
"yehbarree-ar.fina",
"yehbarree-ar.fina.narrow",
"kashida-ar",
"alefMadda-ar",
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"alefWasla-ar",
"beh-ar",
"teh-ar",
"theh-ar",
"tteh-ar",
"tteheh-ar",
"beeh-ar",
"tehRing-ar",
"tehThreedotsdown-ar",
"peh-ar",
"teheh-ar",
"beheh-ar",
"behThreedotsupabove-ar",
"behThreedotsupbelow-ar",
"tehThreedotsupbelow-ar",
"behTwodotsbelowDotabove-ar",
"behVinvertedbelow-ar",
"behVabove-ar",
"behVbelow-ar",
"behhamzaabove-ar",
"pehVabove-ar",
"tehVabove-ar",
"ttehVabove-ar",
"jeem-ar",
"khah-ar",
"hahHamzaabove-ar",
"hahTwodotsverticalabove-ar",
"nyeh-ar",
"dyeh-ar",
"hahThreedotsabove-ar",
"tcheh-ar",
"tcheheh-ar",
"tchehDotabove-ar",
"hahTwodotshorizontalabove-ar",
"hahThreedotsupbelow-ar",
"hahTahbelow-ar",
"hahTahTwodotshorizontalbelow-ar",
"hahTahabove-ar",
"jeemTwodotsabove-ar",
"tchehVabove-ar",
"jeemThreedotsabove-ar",
"jeemThreedotsbelow-ar",
"hahVinvertedbelow-ar",
"thal-ar",
"ddal-ar",
"dalRing-ar",
"dalDotbelow-ar",
"dalDotbelowTah-ar",
"dahal-ar",
"ddahal-ar",
"dul-ar",
"dalThreedotsdown-ar",
"dalFourdots-ar",
"dalVinvertedabove-ar",
"dalTwodotsverticalbelowTah-ar",
"dalVinvertedbelow-ar",
"dalThreedotsbelow-ar",
"zain-ar",
"rreh-ar",
"rehv-ar",
"rehRing-ar",
"rehDotbelow-ar",
"rehVbelow-ar",
"rehDotbelowdotabove-ar",
"rehTwodots-ar",
"jeh-ar",
"rehFourdots-ar",
"rehVinvertedabove-ar",
"rehTwodotsverticalabove-ar",
"rehHamzaabove-ar",
"rehTwodotshorizontalaboveTahabove-ar",
"zainVinvertedabove-ar",
"sheen-ar",
"seenDotbelowDotabove-ar",
"seenThreedotsbelow-ar",
"sheenThreedotsbelow-ar",
"sheenDotbelow-ar",
"seenFourdotsabove-ar",
"seenTwodotsverticalabove-ar",
"seenTahTwodotshorizontalabove-ar",
"seenVinvertedabove-ar",
"dad-ar",
"sadTwodotsbelow-ar",
"sadThreedots-ar",
"dadDotbelow-ar",
"sadThreedotsbelow-ar",
"zah-ar",
"tahThreedots-ar",
"tahTwodotsabove-ar",
"tahDotbelow-ar",
"tahThreedotsbelow-ar",
"ghain-ar",
"ainThreedots-ar",
"ghainDotbelow-ar",
"ainTwodotshorizontalabove-ar",
"ainThreedotsdownabove-ar",
"ainTwodotsverticalabove-ar",
"ainThreedotsbelow-ar",
"ghainThreedotsabove-ar",
"feh-ar",
"fehDotmovedbelow-ar",
"fehDotbelow-ar",
"veh-ar",
"fehThreedotsbelow-ar",
"peheh-ar",
"fehTwodotsbelow-ar",
"fehThreedotsupbelow-ar",
"fehDotbelowThreedotsabove-ar",
"fehAfrican-ar",
"qaf-ar",
"qafDotabove-ar",
"qafThreedotsabove-ar",
"qafDotbelow-ar",
"qafAfrican-ar",
"qafThreedotsaboveAfrican-ar",
"qafDotbelowNoDotAbove-ar",
"kaf-ar",
"kafDotabove-ar",
"ng-ar",
"kafThreedotsbelow-ar",
"kafTwodotshorizontalabove-ar",
"kafDotbelow-ar",
"kehehTwodotshorizontalabove-ar",
"kehehThreedotsbelow-ar",
"kafRing-ar",
"gaf-ar",
"gafRing-ar",
"ngoeh-ar",
"gafTwodotsbelow-ar",
"gueh-ar",
"gafThreedots-ar",
"kehehDotabove-ar",
"kehehThreedotsabove-ar",
"kehehThreedotsupbelow-ar",
"gafInvertedstroke-ar",
"kehehVabove-ar",
"kehehTwodotsverticalbelow-ar",
"lamVabove-ar",
"lamDotabove-ar",
"lamThreedotsabove-ar",
"lamThreedotsbelow-ar",
"lamTahabove-ar",
"meemThreedotsabove-ar",
"meemDotabove-ar",
"meemDotbelow-ar",
"noon-ar",
"noonDotbelow-ar",
"rnoon-ar",
"noonRing-ar",
"noonThreedotsabove-ar",
"noonTwodotsbelow-ar",
"noonTahabove-ar",
"noonVabove-ar",
"noonAfrican-ar",
"noonVinvertedabove-ar",
"tehMarbuta-ar",
"hehHamzaabove-ar",
"hehgoalHamzaabove-ar",
"tehMarbutagoal-ar",
"hehVinvertedabove-ar",
"wawHamzaabove-ar",
"wawring-ar",
"oe-ar",
"u-ar",
"yu-ar",
"kirghizyu-ar",
"wawTwodots-ar",
"ve-ar",
"wawDotabove-ar",
"wawDotcenter-ar",
"yehKashmiri-ar",
"yehHamzaabove-ar",
"yehVinvertedFarsi-ar",
"yehTwodotsaboveFarsi-ar",
"yehThreedotsaboveFarsi-ar",
"yeh-ar",
"yehFarsi-ar",
"yehTail-ar",
"yehVabove-ar",
"e-ar",
"yehTwodotsbelowHamzaabove-ar",
"yehTwodotsbelowDotabove-ar",
"yehbarreeHamzaabove-ar",
"behDotless_hah-ar",
"behDotless_hah-ar.init",
"lam_alef-ar.fina.ss02",
"lam_alef-ar.fina",
"lam_alef-ar",
"lam_hah-ar",
"lam_hah-ar.init",
"decimalseparator-ar",
"thousandseparator-ar",
zero,
one,
two,
three,
four,
five,
six,
six.ss05,
seven,
eight,
nine,
nine.ss05,
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"zero-persian",
"zero-persian.locl",
"two-persian",
"four-persian",
"four-persian.locl",
"five-persian",
"six-persian",
"seven-persian",
"seven-persian.locl",
"eight-persian",
zero.tf,
zero.tf.zero,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
six.tf.ss05,
seven.tf,
eight.tf,
nine.tf,
nine.tf.ss05,
zero.zero,
zero.blackCircled,
one.blackCircled,
two.blackCircled,
three.blackCircled,
four.blackCircled,
five.blackCircled,
six.blackCircled,
seven.blackCircled,
eight.blackCircled,
nine.blackCircled,
zero.circled,
one.circled,
two.circled,
three.circled,
four.circled,
five.circled,
six.circled,
seven.circled,
eight.circled,
nine.circled,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zero.subs,
one.subs,
two.subs,
three.subs,
four.subs,
five.subs,
six.subs,
seven.subs,
eight.subs,
nine.subs,
zero.sups,
one.sups,
two.sups,
three.sups,
four.sups,
five.sups,
six.sups,
seven.sups,
eight.sups,
nine.sups,
space,
space.tf,
.notdef,
period,
period.tf,
comma,
comma.tf,
colon,
colon.tf,
semicolon,
semicolon.tf,
"fullstop-ar",
"comma-ar",
"semicolon-ar",
commareversed,
semicolonreversed,
ellipsis,
exclam,
question,
"question-ar",
periodcentered,
asterisk,
numbersign,
slash,
slash.case,
backslash,
backslash.case,
parenleft,
parenleft.case,
parenright,
parenright.case,
braceleft,
braceleft.case,
bar,
bar.case,
braceright,
braceright.case,
bracketleft,
bracketleft.case,
bracketright,
bracketright.case,
hyphen,
hyphen.case,
quotedbl,
quotesingle,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetleft.case,
guillemetright,
guillemetright.case,
guilsinglleft,
guilsinglleft.case,
guilsinglright,
guilsinglright.case,
"asterisk-ar",
exclamdown,
exclamdown.case,
questiondown,
questiondown.case,
bullet,
endash,
endash.case,
emdash,
emdash.case,
underscore,
quotesinglbase,
quotedblbase,
plus,
minus,
multiply,
divide,
equal,
less,
greater,
percent,
"percent-ar",
dottedCircle,
"allah-ar",
"lellah-ar",
"sindhipostpositionmen-ar",
"sindhiampersand-ar",
mediumWhiteCircle,
mediumBlackCircle,
at,
at.case,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
dagger,
daggerdbl,
estimated,
numero,
blackLargeSquare,
whiteLargeSquare,
cent,
dollar,
euro,
sterling,
yen,
notequal,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
asciicircum,
perthousand,
arrowup,
uni2197,
arrowright,
uni2198,
arrowdown,
uni2199,
arrowleft,
uni2196,
"dotabove-ar",
"dotabove_threedotsupabove-ar",
"dotabove_vabove-ar",
"dotabove_vinvertedabove-ar",
"dotabove_tahabove-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalabove_vabove-ar",
"twodotshorizontalabove_tahabove-ar",
"twodotsverticalabove-ar",
"threedotsupabove-ar",
"threedotsdownabove-ar",
"fourdotsabove-ar",
"hamzaabove-ar",
"wasla-ar",
"madda-ar",
"vabove-ar",
"vinvertedabove-ar",
"gafsarkashabove-ar",
"commaabove-ar",
"tahabove_vabove-ar",
"dotbelow-ar",
"dotbelow-ar.alt",
"dotbelow_threedotsdownbelow-ar",
"twodotshorizontalbelow-ar",
"twodotshorizontalbelow-ar.alt",
"twodotshorizontalbelow_tahabove-ar",
"twodotsverticalbelow-ar",
"twodotsverticalbelow-ar.alt",
"threedotsupbelow-ar",
"threedotsupbelow-ar.alt",
"threedotsdownbelow-ar",
"threedotsdownbelow-ar.alt",
"fourdotsbelow-ar",
"fourdotsbelow-ar.alt",
"hamzabelow-ar",
"vbelow-ar",
"vbelow-ar.alt",
"vinvertedbelow-ar",
"vinvertedbelow-ar.alt",
"ring-ar",
"ring-ar.alt",
"doubleverticalbarbelow-ar",
"tahbelow-ar",
"dotcenter-ar",
"dotcenter_threedotsdownbelow-ar",
"twodotshorizontalcenter-ar",
"twodotshorizontalcenter_tahabove-ar",
"twodotsverticalcenter-ar",
"threedotsupcenter-ar",
"threedotsdowncenter-ar",
"fourdotscenter-ar",
"vinvertedcenter-ar",
"tahcenter-ar",
"miniKeheh-ar",
"ringbelow-ar",
"ringbelow-ar.alt",
"gafsarkashcenter-ar",
"tail-ar",
"hehgoalMark-ar",
"shadda-ar",
"fatha-ar",
"damma-ar",
"fathatan-ar",
"dammatan-ar",
"sukun-ar",
"alefabove-ar",
"kasra-ar",
"kasratan-ar",
"alefbelow-ar",
"tahabove-ar",
dieresiscomb,
dieresiscomb.case,
dieresiscomb.narrow,
dotaccentcomb,
dotaccentcomb.case,
dotaccentcomb.i,
gravecomb,
gravecomb.case,
acutecomb,
acutecomb.case,
hungarumlautcomb,
hungarumlautcomb.case,
caroncomb.alt,
caroncomb.alt.case,
circumflexcomb,
circumflexcomb.case,
caroncomb,
caroncomb.case,
brevecomb,
brevecomb.case,
ringcomb,
ringcomb.case,
tildecomb,
tildecomb.case,
macroncomb,
macroncomb.case,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
cedillacomb.case,
ogonekcomb,
strokeshortcomb,
strokeshortcomb.case,
strokelongcomb.case,
slashshortcomb,
slashlongcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
_HahTail,
_HahTailLong,
_SadCurve,
_blackCircled,
_circled,
_connection.l,
_connection.r,
eightCircledComp,
fiveCircledComp,
fourCircledComp,
nineCircledComp,
oneCircledComp,
sevenCircledComp,
sixCircledComp,
threeCircledComp,
twoCircledComp,
zeroCircledComp
)